@page "/info"
@inject DataServices.ITestCats cat;
@inject DataServices.IShodanSearch shodan;
@inject DataServices.IWaybackMachine machine;
@inject DataServices.IVirusTotal virus;
@inject DataServices.ISecurityTrials security;

<h1>Info Page</h1>
<h3>Endopints used:</h3>
<div>
	<ul>
		<li><label>Shodan Address: &nbsp;</label><a href="@shodanAddress"><label>@shodanAddress</label></a></li>
		<li><label>TestCats Address: &nbsp;</label><a href="@testCatsAddress"><label>@testCatsAddress</label></a></li>
		<li><label>Wayback Machine Address: &nbsp;</label><a href="@waybackMachineAddress"><label>@waybackMachineAddress</label></a></li>
		<li><label>VirusTotal Address: &nbsp;</label><a href="@virusTotalAddress"><label>@virusTotalAddress</label></a></li>
		<li><label>SecurityTrials Address: &nbsp;</label><a href="@securityTrialsAddress"><label>@securityTrialsAddress</label></a></li>
	</ul>
</div>

@code {
	string shodanAddress;
	string testCatsAddress;
	string waybackMachineAddress;
	string virusTotalAddress;
	string securityTrialsAddress;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		testCatsAddress = cat.GetBaseUrl();
		shodanAddress = shodan.GetBaseUrl();
		waybackMachineAddress = machine.GetBaseUrl();
		virusTotalAddress = virus.GetBaseUrl();
		securityTrialsAddress = security.GetBaseUrl();
	}
}
