@page "/shodan"
<h1>Shodan</h1>

<p>This place to make reconneisance queries via Shodan REST API</p>

<div class="form-group">
	<textarea class="form-control col-md-6" placeholder="Type IP address" @bind-value="IpAddress" @bind-value:event="oninput"></textarea>
	<small class="form-text text-muted">Type text inside to be searched.</small>
</div>

<button class="btn btn-success" type="button" @onclick="BeginSearch">
	<span class="oi oi-arrow-thick-bottom"></span> Search
</button>

@if (shodan == null)
{

}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>IP</th>
				<th>ISP</th>
				<th>ORG</th>
				<th>CountryName</th>
				<th>CountryCode</th>
				<th>RegionCode</th>
				<th>City</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>LastUpdate</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td>@shodan.IpStr</td>
				<td>@shodan.Isp</td>
				<td>@shodan.Org</td>
				<td>@shodan.CountryName</td>
				<td>@shodan.CountryCode</td>
				<td>@shodan.RegionCode</td>
				<td>@shodan.City</td>
				<td>@shodan.Latitude</td>
				<td>@shodan.Longitude</td>
				<td>@shodan.LastUpdate</td>
			</tr>

		</tbody>
	</table>
}

<button class="btn btn-primary" type="button" @onclick="SaveToTxt">
	<span class="oi oi-arrow-thick-bottom"></span> Save Result
</button>

@code {
	

}
