@page "/virus"
<h1>Shodan</h1>

<p>This place to make reconneisance queries via VirusTotal REST API</p>


<div class="form-group">
	<textarea class="form-control col-md-6" placeholder="Type IP address" @bind-value="IpAddress" @bind-value:event="oninput"></textarea>
	<small class="form-text text-muted">Type text inside to be searched.</small>
</div>

<button class="btn btn-success" type="button" @onclick="BeginSearch">
	<span class="oi oi-magnifying-glass"></span> Search
</button>

@if (virus == null)
{

}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Response</th>
				<th>AS Number</th>
				<th>AS Owner</th>
				<th>Country</th>
				<th>Verbose Message</th>

			</tr>
		</thead>
		<tbody>

			<tr>
				<td>@virus.ResponseCode</td>
				<td>@virus.Asn</td>
				<td>@virus.AsOwner</td>
				<td>@virus.Country</td>
				<td>@virus.VerboseMsg</td>
			</tr>
		</tbody>
	</table>
}

<button class="btn btn-primary" type="button" @onclick="SaveToTxt">
	<span class="oi oi-arrow-thick-bottom"></span> Save Result
</button>

@code {
	

}
